body {
    margin: 0; 
    padding: 0; 
}
.error-border {
    border: 3px solid;
    border-color: red; 
}
.container {
    display: flex; 
    flex-wrap: wrap; 
    height: 100vh; 
    /* overflow-y: scroll;  */
}
.break {
    flex-basis: 100%; 
    height: 0; 
}
.nav {
    display: flex;
    flex-direction: row; 
    position:fixed; 
    width: 100%; 
    height:50px; 
    background-color: white; 
}
#logo {
    display: flex; 
    justify-content: center ;
    min-width: 200px; 
}
#my-logo {
    display: flex; 
    justify-content: center;
    background-color: #718355;
    width: 100px; 
    border-radius: 25px;
    margin: 5px 50px 5px 50px; 
}
#my-logo p {
    margin-top: 10px;
    color: white; 
}
#login {
    width: 200px; 
}
#search-div {
    display: flex; 
    justify-content: center; 
    width:560px;
    gap: 20px; 
    flex-grow: 1; 
}
.search-bar {
    background-color: #97A97C;
    position: relative; 
    display: flex;  
    width: 500px; 
    margin: 5px 50px 5px 50px; 
    border-radius: 25px; 
}
input {
    margin-left: 35px; 
    margin-right: 35px; 
    width: 100%;
    background-color: #97A97C;
    border: 0px; 
    outline: none; 
    color: white; 
    padding: 10px 5px; 
}
::placeholder{
    color:white; 
    font-size: 15px;   
    margin-left:5px; 
}
.search-icon {
    position: absolute;
    top: 12px;
    left: 10px;
    width: 14px;
}
.clear-icon {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 12px;
    cursor: pointer;
    visibility: hidden; 
}
#signup-login-div {
    display:flex;
}
.login-div {
    background-color: #97A97C;
    display:flex; 
    justify-content: center;
    width: 100px; 
    margin: 5px 10px; 
    border-radius: 25px;     
}
.sign-up-div {
    background-color: #97A97C;
    display:flex; 
    justify-content: center;
    width: 100px; 
    margin: 5px 10px; 
    border-radius: 25px; 
}
.nav-btn {
    background-color: #718355;
    color: white; 
    border: 0; 
    width: 100%; 
    padding: 10px; 
    box-sizing: border-box;
    border-radius: 25px; 
}
.nav-btn:hover {
    background-color: #CFE1B9;
    color: black; 
}
.main {
    display: flex; 
    justify-content: space-between;
    width:100%; 
    background-color:#adb5bd; 
}
.left-column-container {
    position: fixed; 
    top: 50px;
    bottom: 0; 
    left: 0; 
    overflow-y:auto; 
    width:280px; 
    gap: 30px; 
}
.left-item {
    display:flex; 
    flex-direction: column;
    /* flex-grow: 1; */
    background-color: white;
    border-radius: 15px; 
    height: 200px; 
    margin: 10px; 
}
.left-item-title {
    display:flex; 
    justify-content: center;
}
.item-title h4 {
    text-align: center;
    font-family:  "Sedan", serif; 
    font-weight: bold; 
    font-size: 1.3rem; 
    margin-bottom: 10px; 
    margin-top:15px; 
}
.nearby-communities{
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    gap: 15px; 
    margin-top: 15px; 
}
.nearby-comm-btn{
    background-color: #49624b; 
    color: white; 
    border: 0px; 
    border-radius: 25px; 
    height: 30px; 
    width: 100px; 
}
.nearby-comm-btn:hover{
    background-color: #CFE1B9;
    color: black; 
}
.center-column {
    display:flex;
    flex-direction: column;
    margin-left: 280px; /* Same as left column width */
    margin-top: 50px; 
    margin-right: 320px; /* Same as right column width */
}
.post {
    display: flex; 
    flex-direction: column; 
    background-color: white;
    border-radius: 15px; 
    margin: 10px; 
    padding: 10px 20px; 

}
#post-header {
    display: flex; 
    flex-direction: row;
    gap: 15px; 
    height: 30px; 
}

#post-header-Uid {
    font-size: 13px; 
    font-weight: bold; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 4px; 
}

h5{
    font-size: 1.5rem; 
    font-family: "Montserrat", sans-serif; 
    font-weight: 500; 
    margin-top:0px;
    margin-bottom: 10px;
}

#borough-button{
    background-color: #49624b;
    color: white; 
    border: 0px; 
    border-radius: 25px; 
    height: 20px; 
    width: 95px; 
}

#borough-button:hover {
    background-color: #CFE1B9;
    color: black; 
}

.post-user-controls{
    display: flex; 
    flex-direction: row; 
    gap: 8px; 
    margin-top: 10px; 
}

.post-control-btn {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:5px;
    background-color: #87986A; 
    color: white; 
    border: 0px; 
    border-radius: 25px; 
    height: 24px; 
    width: 90px; 
}

.post-control-btn:hover {
    background-color: #CFE1B9;
    color: black; 
}

#post-descr-span p{
    width: 500px; 
    margin: 10px 0px; 
}

img#post-image {
    width: 200px; 
    height: 200px; 
    border-radius: 15px; 
}

#post-main-content {
    display: flex;
    flex-direction: row; 
    gap: 15px; 
}


.right-column-container {
    width:320px; 
    position: fixed;
    top: 50px;
    bottom: 0;
    right: 0;
    overflow-y:auto; 
}

.right-item {
    background-color: white; 
    height: 250px; 
    border-radius: 15px; 
    margin: 10px; 
    height: 100vh; 
}

#campaigns-container {
    display: flex; 
    flex-direction: column;
    flex-grow: 1; 
    height: 100vh; 
    overflow-y:auto; 
}

#campaigns {
    display: flex; 
    flex-direction: column;
    gap:10px;
    margin: 0px 10px;
}

.campaign {
    display: flex; 
    flex-direction: column;
    /* border-top: 1px solid black; */
    border: 1px solid black;
    background-color: #B5C99A;
    border-radius: 20px; 
    padding: 10px; 
    margin-bottom: 10px; 
}

#campaign-header {
    display: flex; 
    flex-direction: row;
    gap: 15px; 
    margin-bottom: 10px;
}

h5#camp-title{
    display:flex; 
    justify-content: center; 
}

.camp-img-span {
    display:flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

img#campaign-image {
    width: 220px; 
    height: 150px; 
    border-radius: 10px; 
}

.campaign-btns {
    display: flex;
    flex-direction: row;
    gap: 8px; 
}

.camp-control-btn {
    background-color: #718355; 
    color: white; 
    border: 0px; 
    border-radius: 25px; 
    height: 24px; 
    width: 90px; 
}

.camp-control-btn:hover {
    background-color: #CFE1B9;
    color: black; 
}

#userAdd {
    display: flex; 
    flex-direction: column;
    height: 220px; 
}

.userfunc {
    display: flex; 
    flex-direction: column;
    margin: 10px 50px 20px 50px;
    gap: 10px;
}

#create-post {
    display:flex; 
    justify-content: center;
    width: 100%; 
    background-color: #718355;
}

#start-camp {
    display:flex; 
    justify-content: center;
    width: 100%;
}

#create-post-btn{
    width: 100%; 
    height: 40px;
    background-color: #718355;
    border-radius: 40px;
    color: white; 
    border: none;
}

#create-post-btn:hover {
    background-color: #CFE1B9;
    color: black; 
}

#start-camp-btn {
    width: 100%;
    height:40px;
    background-color: #49624b;
    border-radius: 25px; 
    color: white; 
    border: none;
}

#start-camp-btn:hover {
    background-color: #CFE1B9;
    color: black; 
}

#share-event {
    display:flex; 
    justify-content: center;
    width: 100%;
}

#share-event-btn{
    width: 100%; 
    height: 40px;
    background-color: #718355;
    border-radius: 40px;
    color: white; 
    border: none;
}

#share-event-btn:hover {
    background-color: #CFE1B9;
    color: black; 
}

#campaign-title {
    display:flex; 
    justify-content: center;
}

/* signup page styling */
.signup-main {
    background-color: #adb5bd;
    display:flex; 
    justify-content: center;
    margin-top:50px; 
    width:100%; 
    height: 100vh; 
}

.signup-form-container {
    display:flex; 
    flex-direction: column;
    margin: 20px; 
    width: 400px; 
    height: 800px; 
    flex-grow: 0.5;
    background-color: white; 
    border-radius: 25px;
}
.sign-up {
    display:flex; 
    flex-direction: column;
    justify-content: center;
}
#signup-header {
    text-align:center;
    font-size: 3rem; 
    margin-bottom: 5px;
}

#signup-header-h3 {
    text-align: center;
    font-size: 1.2rem; 
}

.sign-up-form {
    display: flex; 
    /* flex-direction: column; */
    justify-content: center;
}

#signup-form {
    width: 75%;
}

form input:focus {
    outline: 1px solid black; 
}

#signup-form input {
    margin-left: 0px; 
    width:100%; 
    height: 30px; 
    margin-bottom: 20px;
    border-radius: 20px; 
    padding: 20px 5px;
}

#signup-btn-submit{
    display: flex; 
    justify-content: center;
    height: 40px; 
}

#signup-form button {
    color: white; 
    background-color: #718355; 
    height: 40px; 
    border-radius:25px;
    width: 200px; 
    border: 0; 
    margin: 20px; 
    padding: 10px; 
}

#signup-form button:hover{
    background-color: #CFE1B9;
    color: black; 
}

/* login page styling */
.login-main {
    background-color: #adb5bd;
    display:flex; 
    justify-content: center;
    margin-top:50px; 
    width:100%; 
    height: 100vh; 
}

.login-container {
    display:flex; 
    flex-direction: column;
    margin: 20px; 
    width: 400px; 
    height: 800px; 
    flex-grow: 0.5;
    background-color: white; 
    border-radius: 25px; 
}

.login-message {
    display: flex; 
    justify-content: center;
    flex-direction: column; 
}

.login-message h1{
    text-align: center; 
    font-size: 3rem; 
    margin-bottom: 5px;
}

.login-message h3{
    text-align: center;
    font-size: 1.2rem; 
}

.login-form-div {
    display: flex; 
    justify-content: center;
}

#login-form {
    width: 75%;
}

#login-form label {
    margin-left:20px; 
    font-size: 1.2rem; 
}

#login-form input {
    margin-left: 0px; 
    width:100%; 
    height: 30px; 
    margin-bottom: 20px;
    border-radius: 20px; 
    padding: 20px 5px;; 
}

#login-btn-submit {
    display: flex;
    justify-content: center;
    height: 40px; 

}

#login-form button {
    color: white; 
    background-color: #718355; 
    height: 40px; 
    border-radius:25px;
    width: 200px; 
    border: 0; 
    margin: 20px; 
    padding: 10px; 
}

#login-form button:hover{
    background-color: #CFE1B9;
    color: black; 
}


/*campaign styling */
.campaign-main {
    background-color: #adb5bd;
    display:flex; 
    justify-content: center;
    width:100%; 
    margin-top: 50px; 
    height: 100vh;
}

.campaign-container {
    display:flex; 
    flex-direction: column;
    margin: 20px; 
    width: 400px; 
    height: 800px; 
    flex-grow: 0.5;
    background-color: white; 
    border-radius: 25px; 
}

.campaign-message {
    display: flex; 
    justify-content: center;
    flex-direction: column; 
}

.campaign-message h1{
    text-align: center; 
    font-size: 3rem; 
    margin-bottom: 5px;
}

.campaign-message h3{
    text-align: center;
    font-size: 1.2rem; 
}

.campaign-form-div {
    display: flex; 
    justify-content: center;
}

#campaign-form {
    width: 75%;
}

#campaign-form label { 
    font-size: 1.2rem; 
}

#campaign-form input {
    margin-left: 0px; 
    width:100%; 
    height: 30px; 
    margin-bottom: 20px;
    border-radius: 20px; 
    padding: 20px 5px; 
    margin-right: 0px; 
    margin-top: 10px; 
}

#campaign-form .borough-choice input {
    margin-right: 0px;
    height: 20px;  
    width: 20px; 
}

#campdesc-input {
    background-color: #97A97C;
    border-radius: 15px; 
    color: white; 
    width: 100%; 
    padding: 20px 5px;
    margin-top: 10px; 
    margin-bottom: 10px; 
}

#camp-btn-submit {
    display: flex; 
    justify-content: center;
}

#campaignbtn {
    color: white; 
    background-color: #718355; 
    height: 40px; 
    border-radius:25px;
    width: 200px; 
    border: 0; 
    margin: 20px; 
    padding: 10px; 
}

#campaignbtn:hover {
    background-color: #CFE1B9;
    color: black; 
}

/* add post styling */

.add-post-main {
    background-color: #adb5bd;
    display:flex; 
    justify-content: center;
    width:100%; 
    margin-top: 50px; 
    height: 100vh; 
}

.add-post-container {
    display:flex; 
    flex-direction: column;
    margin: 20px; 
    width: 400px; 
    height: 800px; 
    flex-grow: 0.5;
    background-color: white; 
    border-radius: 25px; 
}

.add-post-message {
    display: flex; 
    justify-content: center;
    flex-direction: column; 
}

.add-post-message h1{
    text-align: center; 
    font-size: 3rem; 
    margin-bottom: 5px;
}

.add-post-message h3{
    text-align: center;
    font-size: 1.2rem; 
}

.add-post-form-div {
    display: flex; 
    justify-content: center;
}

#add-post-form {
    width: 75%;
}

#add-post-form label { 
    font-size: 1.2rem; 
}

#add-post-form input {
    margin-left: 0px; 
    width:100%; 
    height: 30px; 
    margin-bottom: 20px;
    border-radius: 20px; 
    padding: 20px 5px; 
    margin-right: 0px; 
    margin-top: 10px; 
}

.borough-choice {
    /* width: 100%;  */
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 10px; 
    margin: 20px 0px; 
    height: 40px; 
}

#add-post-form .borough-choice input {
    margin-right: 0px;
    height: 20px;  
    width: 20px; 
}

input[type="radio"] {
    height: 10px; 
}

.borough-choice label{
    margin-left: 0px;   
}

#postdesc-input {
    background-color: #97A97C;
    border-radius: 15px; 
    color: white; 
    width: 100%; 
    padding: 20px 5px;
    margin-top: 10px; 
    margin-bottom: 10px; 
}

input#userfile {
    display:flex; 
    justify-content: center;
    align-items: center;
    /* margin-top: 10px;  */
    height: 15px; 
    padding-top: 15px; 
}

#post-btn-submit {
    display: flex; 
    justify-content: center;
}

#addpostbtn {
    color: white; 
    background-color: #718355; 
    height: 40px; 
    border-radius:25px;
    width: 200px; 
    border: 0; 
    margin: 20px; 
    padding: 10px; 
}

#addpostbtn:hover {
    background-color: #CFE1B9;
    color: black; 
}